---
import { Image } from 'astro:assets';
import card1 from '../../assets/card1.webp';
import card2 from '../../assets/card2.webp';
import card3 from '../../assets/card3.webp';
import card4 from '../../assets/card4.webp';
import card5 from '../../assets/card5.webp';
import card6 from '../../assets/card6.webp';
import Cta from '../../utils/Cta.astro';
---

<div class='cards-container'>
  <div class='cards-wrapper'>
    <p class='card-overtext'>React / Typescript</p>
    <div class='card one'>
      <Image class='card-img' src={card1} alt='happy family sitting' />
    </div>
    <h3 class='card-text'>
      Cooperation on the website <a
        aria-label='link to spelnij-marzenia site'
        href='https://www.spelnij-marzenia.pl/'>Spełnij Marzenia</a
      >
    </h3>
  </div>

  <div class='cards-wrapper'>
    <p class='card-overtext'>React / Typescript</p>
    <div class='card two'>
      <Image class='card-img' src={card2} alt='landing page of website' />
    </div>
    <h3 class='card-text'>
      Brand page for instagrammer <a
        aria-label='link to spelnij-marzenia site'
        href='https://stowidokowhome.pl/'>stowidokow-home</a
      >
    </h3>
  </div>

  <div class='cards-wrapper'>
    <p class='card-overtext'>Astro / React / Typescript</p>
    <div class='card three'>
      <Image
        class='card-img'
        src={card3}
        alt='landing page of beauty clinic website'
      />
    </div>
    <h3 class='card-text'>
      Local beauty salon <a
        aria-label='link to spelnij-marzenia site'
        href='https://alohabeautylogic.pl/'>Aloha Beauty Logic Clinic</a
      >
    </h3>
  </div>

  <div class='cards-wrapper'>
    <p class='card-overtext'>Astro / React / Typescript</p>
    <div class='card four'>
      <Image
        class='card-img'
        src={card4}
        alt='landing page of nicotione website'
      />
    </div>
    <h3 class='card-text'>
      Website for an international supplier of liquid nicotine <a
        aria-label='link to spelnij-marzenia site'
        href='http://hinic.eu/'>Hinic Poland</a
      >
    </h3>
  </div>

  <div class='cards-wrapper'>
    <p class='card-overtext'>Astro / React / Typescript</p>
    <div class='card five'>
      <Image
        class='card-img'
        src={card5}
        alt='landing page of firefighting website'
      />
    </div>
    <h3 class='card-text'>
      Local company offering fire protection services <a
        aria-label='link to spelnij-marzenia site'
        href='https://mr-poz.pl/'>MR-POŻ - Usługi PPOŻ</a
      >
    </h3>
  </div>

  <div class='cards-wrapper'>
    <p class='card-overtext'>Astro / React / Typescript</p>
    <div class='card six'>
      <Image
        class='card-img'
        src={card6}
        alt='landing page of speech therapist website'
      />
    </div>
    <h3 class='card-text'>
      Website for local speech and pedagogy specialist <a
        aria-label='link to spelnij-marzenia site'
        href='https://logo-lama.pl/'>Logo Lama</a
      >
    </h3>
  </div>
  <Cta />
</div>

<style>
  .cards-container {
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    gap: 50px;
    z-index: 10;
    position: relative;
  }
  .cards-wrapper {
    border: none;
    border-radius: 15px;
    display: grid;
    padding: 5px;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 5px;
  }

  .card {
    box-shadow: 0px 8px 17px -10px rgba(177, 182, 177, 1);
    border: 5px solid rgb(236, 233, 233);
    border-radius: 15px;
  }
  .card.one {
    background-color: rgb(230, 51, 51);
  }
  .card.two {
    background-color: rgb(187, 147, 102);
  }
  .card.three {
    background-color: var(--green);
  }
  .card.four {
    background-color: rgb(32, 45, 87);
  }
  .card.five {
    background-color: rgb(184, 137, 8);
  }
  .card.six {
    background-color: rgb(240, 185, 226);
  }

  .card-img {
    object-fit: contain;
    max-width: 100%;
    padding: 15px 0;
    display: block;
    height: 100%;
  }
  .card-overtext {
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-family: var(--second-font);
    color: var(--light-grey);
  }
  .card-text {
    margin-top: 10px;
    font-family: var(--second-font);
    font-size: 1.1rem;
    font-weight: 300;
    color: inherit;
  }
  .card-text a {
    color: var(--bg-black);
  }
</style>
